<?xml version="1.0"?>
<model>
  <name>3DR Iris with external vision pose estimation</name>
  <version>1.0</version>
  <sdf version='1.4'>suyu_vins_lidar.sdf</sdf>

  <author>
   <name>Christoph Tobler</name>
   <email>toblech@ethz.ch</email>
  </author>

  <description>
    This is a model of SUYU
  </description>
</model>
